/.vscode/
/.git/
/node_modules/
/tools/
/.gitignore
/.npmignore
/tsconfig.json
/docs/
/examples/
/src/examples/
/utils/
/.husky/
/commitlint.config.js
/.eslintrc
/.eslintignore
/test-data/
*.test.ts
*.test.d.ts
*.test.d.ts.map
*.test.js
*.test.js.map
